*{
    font-family:'Segoe UI''Footlight MT';
}

body {
    background-color: #fff;
    padding-top: 50px;
    font-family: 'Segoe UI''Footlight MT';
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin:5%;
}

.abc {
    font-family: 'Segoe UI''Footlight MT';
}

